.create-post-container {
  display: flex;
  margin-top: 90px;
  margin-bottom: 80px;
  /*gap: 10px;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.create-post-container h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: regular;
  margin-left: 65px;
  color: black;
}

.create-post-container label.upload-button {
  display: flex;
  width: 280px;
  height: 161px;
  padding: 10px 0;
  text-align: center;
  justify-content: center; 
  align-items: center;
  background-color: #F0F1DF;
  color: black;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-post-container .image-preview {
  display: flex;
  width: 280px;
  height: 161px;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  background-color: #F0F1DF;
  border-radius: 20px;
  overflow: hidden;
}

.create-post-container .image-preview img {
  max-width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.create-post-container text{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-top: 15px;
  align-items: center;
}

.cat-info {
  display: flex;
  margin-top: 10px;
  margin-right: auto;
}

.cat-photo {
  width: 30px; 
  height: 30px; 
  border-radius: 50%;
}

.cat-name {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 5px;
}

.create-post-container textarea {
  justify-content: center; 
  width: 260px;
  height: 40px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  resize: none;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #8FBDDF;
  background-color: #F0F1DF;
  text-align: left;
}

.create-post-container button {
  display: flex;
  margin-top: 80px;
  margin-left: auto;
  width: 101px;
  height: 39px;
  padding: 10px 0;
  background-color: #8A29E8;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  justify-content: center; 
  align-items: center; 
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container-back-and-title{
  display: flex;
  margin-right: auto;
  /*gap: 10px;*/
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

select {
  width: 200px; /* Adjust the width as needed */
  padding: 10px; /* Adjust the padding as needed */
  font-size: 16px; /* Adjust the font size as needed */
  border: 1px solid #ccc; /* Add a border to the dropdown */
  border-radius: 20px; /* Add rounded corners to the dropdown */
  justify-content: center;
  align-items: center;
  margin-bottom: 20px
}

