.add-cat-container {
    display: flex;
    margin-top: 90px;
    margin-bottom: 80px;
    /*gap: 10px;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }
  
  .add-cat-container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: regular;
    margin-left: 80px;
    color: black;
  }
  
  .add-cat-container label.upload-button {
    display: flex;
    width: 280px;
    height: 161px;
    padding: 10px 0;
    text-align: center;
    justify-content: center; 
    align-items: center;
    background-color: #F0F1DF;
    color: black;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.add-cat-container label.upload-cat-button {
    display: flex;
    max-width: 300px; /* Set the maximum width */
    max-height: 300px; /* Set the maximum height */
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.button-content img{
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  max-height: 100%; /* Ensure the image doesn't exceed the container height */
  object-fit: contain; /* Maintain the image's aspect ratio without cropping */
}

  .add-cat-container .cat-image-preview {
    display: flex;
    width: 161px; /* Set the same value for width and height to create a circle */
    height: 161px;
    justify-content: center;
    align-items: center;
    background-color: #F0F1DF;
    border-radius: 50%; /* Set border-radius to 50% for a circle */
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .add-cat-container .cat-image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .upload-cat-button text{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .button-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 40px;
  }
  
  .cat-info {
    display: flex;
    margin-top: 10px;
    margin-right: auto;
  }
  
  .cat-photo {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
  }
  
  .cat-name {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .add-cat-container textarea {
    justify-content: center; 
    width: 260px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    resize: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #8FBDDF;
    background-color: #F0F1DF;
    text-align: left;
  }
  
  .add-cat-container button {
    display: flex;
    margin-top: 80px;
    margin-left: auto;
    width: 101px;
    height: 39px;
    padding: 10px 0;
    background-color: #8A29E8;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    justify-content: center; 
    align-items: center; 
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .container-back-and-title{
    display: flex;
    margin-right: auto;
    /*gap: 10px;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }

  .form-group {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}
    
.form-group input {
    width: 264px;
    height: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #F0F1DF;
    font-family: 'Poppins', sans-serif;
    color: #8A29E8;
}
  

  
  